.navigationMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
   
    max-width: 418px;
    padding: 210px 0 0 0;
}
.navigationMenu__link {
    width: 250px;
    height: 150px;
    border: none;
    background-image: url(../../images/icon/navigationMenu.png);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    text-align: center;
    padding-top: 59px;
    color: #FFFFFF;
}
