.header__input {
        max-width: 1085px;
        background-color: transparent;
        border: none;
        padding: 13px 10px 14px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      
        width: 100%;
        background-color: transparent;
        color: #fff;
        border-bottom: 1px solid #4E4E4E;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
    }
