* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  /* font-family: 'StratosSkyeng', sans-serif; */
  cursor: pointer;
}

button,
._btn {
  cursor: pointer;
}

ul li {
  list-style: none;
}
/* @font-face {
    font-family: 'StratosSkyeng';
    src: local('StratosSkyeng'), local('StratosSkyeng'),
        url('../fonts/StratosSkyeng.woff2') format('woff2'),
        url('../fonts/StratosSkyeng.woff') format('woff'),
        url('../fonts/StratosSkyeng.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
} */

html,
body {
  width: 100%;
  height: 100%;
  font-family: "StratosSkyeng", sans-serif;
  color: #ffffff;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}

._btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btn-icon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

._btn-text:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

._btn-icon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

._btn-icon:active .track-play__like-svg,
._btn-icon:active .track-play__dislike-svg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__nav {
  width: 244px;
  background-color: #181818;
  padding: 20px 0 20px 36px;
}

.main__centerblock {
  width: auto;
  flex-grow: 3;
  padding: 20px 40px 20px 111px;
}

.main__sidebar {
  max-width: 418px;
  padding: 20px 90px 20px 78px;
}

.nav__logo {
    width: 113.33px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
  }

.nav__burger {
    width: 20px;
    height: 36px;
    padding: 13px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.nav__menu {
    display: block;
    visibility: visible;
  }

.logo__image {
    width: 113.33px;
    height: 17px;
    color: #181818;
  }

.burger__line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
  }

.menu__list {
    padding: 18px 0 10px 0;
  }

.menu__item {
    padding: 5px 0;
    margin-bottom: 16px;
  }

.menu__link {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

.centerblock__search {
    width: 100%;
    border-bottom: 1px solid #4e4e4e;
    margin-bottom: 51px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.centerblock__h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    margin-bottom: 45px;
  }

.centerblock__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 51px;
  }

.centerblock__content {
    display: flex;
    flex-direction: column;
  }

.search__svg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    stroke: #ffffff;
    fill: transparent;
  }

  .search__text {
    flex-grow: 100;
    background-color: transparent;
    border: none;
    padding: 13px 10px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
    .search__text::placeholder {
      background-color: transparent;
      color: #ffffff;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

.filter__title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 15px;
  }

  .filter__button {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
  }
    .filter__button:not(:last-child) {
      margin-right: 10px;
    }

.content__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .content__playlist {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

.playlist-title__col {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
  }

  .playlist-title__svg {
    width: 12px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }

.col01 {
  width: 447px;
}

.col02 {
  width: 321px;
}

.col03 {
  width: 245px;
}
.col04 {
  width: 60px;
  text-align: end;
}

.playlist__item {
    width: 100%;
    display: block;
    margin-bottom: 12px;
  }

  .playlist__track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.track__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 447px;
  }

  .track__title-image {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
  }

  .track__title-svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4e4e4e;
  }

  /* //&__title-text {} */

  .track__title-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }

  .track__title-span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4e4e4e;
  }

  .track__author {
    width: 321px;
    display: flex;
    justify-content: flex-start;
  }

  .track__author-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
  }

.track__album {
    width: 245px;
  }

  .track__album-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
  }

  /* //&__time {} */

  .track__time-svg {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: transparent;
    stroke: #696969;
  }

  .track__time-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #696969;
  }


.sidebar__personal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 0 15px 0;
  }

  .sidebar__personal-name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 16px;
  }

  .sidebar__avatar {
    width: 43px;
    height: 43px;
    background-color: #313131;
    border-radius: 50%;
  }

  .sidebar__block {
    height: 100%;
    padding: 240px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .sidebar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar__item {
    width: 250px;
    height: 150px;
  }
    .sidebar__item:not(:last-child) {
      margin-bottom: 30px;
    }


    .sidebar__link {
    width: 100%;
    height: 100%;
  }

  .sidebar__img {
    width: 100%;
    height: auto;
  }


.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(28, 28, 28, 0.5);
}

.bar__content {
    display: flex;
    flex-direction: column;
  }

  .bar__player-progress {
    width: 100%;
    height: 5px;
    background: #2e2e2e;
  }

  .bar__player-block {
    height: 73px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bar__player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .bar__volume-block {
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 92px 0 0;
  }


.playe.player__controls {
    display: flex;
    flex-direction: row;
    padding: 0 27px 0 31px;
  }

  .player__btn-prev,
  .player__btn-play,
  .player__btn-next,
  .player__btn-repeat,
  .player__btn-shuffle {
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .player__btn-prev {
    margin-right: 23px;
  }

  .player__btn-prev-svg {
    width: 15px;
    height: 14px;
  }

  .player__btn-play {
    margin-right: 23px;
  }

  .player__btn-play-svg {
    width: 22px;
    height: 20px;
    fill: #d9d9d9;
  }

  .player__btn-next {
    margin-right: 28px;
    fill: #a53939;
  }

  .player__btn-next-svg {
    width: 15px;
    height: 14px;
    fill: inherit;
    stroke: #d9d9d9;
  }

  .player__btn-repeat {
    margin-right: 24px;
  }

  .player__btn-repeat-svg {
    width: 18px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }

  .player__btn-shuffle {
    display: flex;
    align-items: center;
  }

  .player__btn-shuffle-svg {
   width: 19px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }

  .player__track-play {
    display: flex;
    flex-direction: row;
  }


.track-play__contain {
    width: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "image author" "image album";
    align-items: center;
  }

  .track-play__image {
    width: 51px;
    height: 51px;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    grid-area: image;
  }

  .track-play__svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4e4e4e;
  }

  .track-play__author {
    grid-area: author;
    min-width: 49px;
  }

  .track-play__author-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    white-space: nowrap;
  }

  .track-play__album {
    grid-area: album;
    min-width: 49px;
  }

  .track-play__album-link {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
  }

  .track-play__like-dis {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 26%;
  }

  .track-play__like,
  .track-play__dislike {
    padding: 5px;
  }

  .track-play__like-svg {
    width: 14px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }

  .track-play__dislike {
    margin-left: 28.5px;
  }

  .track-play__dislike-svg {
    width: 14.34px;
    height: 13px;
    fill: transparent;
    stroke: #696969;
  }

.volume__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .volume __image {
    width: 13px;
    height: 18px;
    margin-right: 17px;
  }

  .volume __svg {
    width: 13px;
    height: 18px;
    fill: transparent;
  }

  .volume __progress {
    width: 109px;
  }

  .volume __progress-line {
    width: 109px;
  }
