.centerBlock {
    /* margin-left: 283px; */
    /* margin-right: auto;     */
    max-width: 673px;
    margin-right: 161px;
    
}

.centerBlock__filter {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-bottom: 51px;
    max-height: fit-content;
}

.centerBlock__filter_btn:hover{
    color: #9A48F1;
    border: 1px solid #9A48F1;
}

.centerblock__playlist {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.centerblock__playlist-title{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-family: 'Roboto';
}
.col1 {
    width: 447px;
}
.col2 {
    width: 321px;
}
.col3 {
    width: 245px;
}
.col4 {
    padding-left: 30px;
    width: 60px;  
}

.searchMenuAuthor__item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}
.searchMenuAuthor__item:hover{
    color: #B672FF;
}

.searchMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px;
    gap: 10px;
    background: #313131;
    border-radius: 12px;
}

.searchMenu_Author,
.searchMenu_Year,
.searchMenu_Genre{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute; 
}
.searchMenuAuthor__item:hover{
    color: #B672FF;
    text-decoration: underline;
}
.searchMenu_Year{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 335px;
    height: 24px;
    padding: 34px;
    gap: 10px;
    background: #313131;
    border-radius: 12px;
}

.audioPlayer{
    position: fixed;
    left: 2px;
    bottom: 1px;
    width: 1920px;
    height: 73px;
    background: #1C1C1C;
}
/* 
.centerBlock__filter_opening{

} */