.track {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.track__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 447px;
    
}

.track__title-image {
    width: 51px;
    height: 51px;
    padding: 16px;
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
}

.track__title-svg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4E4E4E;
}

.track__title-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #c9c9c9;
}

.track__title-span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4E4E4E;
}

.track__author {
    width: 321px;
    display: flex;
    justify-content: flex-start;
}

.track__author-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #c9c9c9;
    text-align: left;
}

.track__album {
    width: 245px;
}

.track__album-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
}

.track__time-svg {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: transparent;
    stroke: #696969;
}

.track__time-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #696969;

}