@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.notFound{
    display: flex;
    flex-direction: column;
    
}

.notFound_header{
    font-style: normal;
    font-weight: 400;
    font-size: 160px;
    line-height: 168px;
    color: #FFFFFF;
}

.notFound_subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF
}

.notFound_paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #4E4E4E;
}

.notFound_btn{
    width: 278px;
    height: 52px;
    left: 821px;
    top: 670px;
    background: #580EA2;
    border-radius: 6px;
}